<ion-header>
  <ion-toolbar color="secondary">
  	<ion-buttons slot="start">
  		<ion-back-button defaultHref="/home"></ion-back-button>
  	</ion-buttons>
    <ion-title>Nueva Tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class=ion-padding>
	<form #formulario="ngForm" (ngSubmit)="storeTarea()">
		<ion-item style="margin-top: 15vh; margin-bottom: 50px">
			<ion-label position="floating">Tarea</ion-label>
			<ion-input name="nombre" [(ngModel)]="tarea.nombre" required autofocus></ion-input>
		</ion-item>
		
		<ion-button expand="block" type="submit" [disabled]="formulario.invalid" color="success" >Guardar</ion-button>

	</form>
</ion-content>
