<ion-header>
  <ion-toolbar color="primary">
  	<ion-buttons slot="end">
  		<ion-button routerLink="/nuevo">
  			<ion-icon name="add"></ion-icon>
  		</ion-button>
  	</ion-buttons>
    <ion-title>
      Lista de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="refreshTareas( $event )">
      <ion-refresher-content pullingText="Desliza para actualizar" refreshingText="Actualizando..."></ion-refresher-content>

  </ion-refresher>

  <ion-list *ngIf=" tareas && tareas.length > 0">
  	<ion-item *ngFor="let t of tareas" (click)="deleteTarea(t)">
  		<ion-label>{{ t.nombre }}</ion-label>
  		<ion-radio slot="end" mode="md"></ion-radio>
  	</ion-item>
  </ion-list>

  <p *ngIf="!tareas || tareas.length === 0">
  	Aún no has agregado una tarea, agregala en el botón <ion-icon name="add"></ion-icon> de la parte superior derecha. 
  </p>
</ion-content>
